nsenv
Original Images
others/output
others/research files
gaussian splatting .glb
Professional Headshot.png
others/some liinks.txt
others/Tutorial Video.mp4
others/YTDown.com_YouTube_TUM-AI-Lecture-Series-The-3D-Gaussian-Sp_Media_DjOqkVIlEGY_001_720p.mp4
others/tandt_db
Mask_generation/images
Mask_generation/masks
Mask_generation/output
Mask_generation/test_output
Mask_generation/image_flags.json
Mask_generation/mask.py
Mask_generation/manifest.json
Mask_generation/__pycache__/
others
inpainting_ready
.idea/
