__pycache__/
.idea

nsenv
Original Images
others/output
others/research files
gaussian splatting .glb
Professional Headshot.png
others/some liinks.txt
others/Tutorial Video.mp4
others/YTDown.com_YouTube_TUM-AI-Lecture-Series-The-3D-Gaussian-Sp_Media_DjOqkVIlEGY_001_720p.mp4
others/tandt_db
Backup_old_unused/Mask_generation/images
Backup_old_unused/Mask_generation/masks
Backup_old_unused/Mask_generation/output
Backup_old_unused/Mask_generation/test_output
Backup_old_unused/Mask_generation/image_flags.json
Backup_old_unused/Mask_generation/mask.py
Backup_old_unused/Mask_generation/manifest.json
Backup_old_unused/Mask_generation/__pycache__/
others
inpainting_ready

nerf_llff_data
nerf_synthetic
output_processed
output_train
GS_Input_bad
GS_Outputs
Renders
Unused_ignored_files
agents
.claude
secret
agent_folders

algorithm_for_codes
algorithm_summaries
Code_Reports
presentation_stuffs
colmap_images

pythonprojects_2

# Paper drafts
GA-3DGS_Paper.md
GAI_Augmented-3DGS.docx
experimental_results.md

# Private image data
output_images/eie_building_dense/
